<DOCTYPE html>

<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="control/controler.js"></script>
	</head>
	
	<body>

		<div class="w3-container" ng-app="formExample" ng-controller="ExampleController">

			<h3>List of customers:</h3>

			<table class="w3-table-all w3-hoverable">
				<tr>
					<th>Edit</th>
					<th>First Name</th>
					<th>Last Name</th>
				</tr>
				<tr ng-repeat="x in recievedCustomersInfo">
					<td>
						<button class="w3-btn w3-ripple" ng-click="openEditForm(x)">&#9998; Edit</button>
					</td>
					<td>
						{{ x.firstName }}
					</td>
					<td>
						{{ x.lastName }}
					</td>
				</tr>
			</table>

			<form novalidate class="w3-container w3-card-4 w3-light-grey" ng-show="showEditForm">
				<label>First name: <input type="text" ng-model="customer.firstName" /></label><br />
				<label>Last name: <input type="text" ng-model="customer.lastName" /></label><br />
				<p><button class="w3-btn w3-ripple" ng-click="update(customer)">&#10004; Submit </button>
				<button class="w3-btn w3-ripple" ng-click="cancelEdit()">&#10006; Cancel </button></p>	
			</form>

		</div>

		<script>
			angular.module('formExample', [])
			.controller('ExampleController', function($scope,$http) {

				//Load the list when the page is loaded for first time.
				getCustomers();

				// Reload the list; each one second.
				setInterval(function(){ getCustomers(); }, 1000);


				//get list of customers. 
				function getCustomers(){  
					$http.get("getCustomersInfo.php").then(function(response){
						$scope.recievedCustomersInfo = response.data.customersInfo;
					});
				};

				$scope.openEditForm = function(x) {
					$scope.showEditForm = true;	
					
					$scope.update = function(customer) {
						$scope.customer.id = x.id;
						$http({
							url: "editCustomer.php",
							method: "POST",
							params: customer
						});
						$scope.customer = {};
						$scope.editedCustomer = {};
						$scope.showEditForm = false;
					};
			
				};



				$scope.cancelEdit = function (firstName,lastName) {
					$scope.showEditForm = false;
				};

			});
		</script>

	</body>

</html>
