		<div ng-app="formExample" ng-controller="ExampleController">
			<div>

				<h3>List of customers:</h3>

				<!--The icons are from Unicode Group 'Dingbats' and you can find them in:
				https://www.quackit.com/character_sets/unicode/dingbats_unicode_character_codes.cfm -->	

				<button ng-click="openAddForm()">&#10010; Add a new customer</button>

				<table class="mytable mytable-cell">
					<tr>
						<th width="20%">Edit</th>
						<th width="20%">Delete</th>
						<th width="25%">First name</th>
						<th width="35%">Last name</th>
					</tr>
					<tr ng-repeat="customer in recievedCustomersInfo">
						<td width="20%"><button ng-click="openEditForm(customer)">&#9998;</button></td>
						<td width="20%"><button ng-click="deleteCustomer(customer)">&#10134;</button></td>
						<td width="25%">{{ customer.firstName }}</td>
						<td width="35%">{{ customer.lastName }}</td>
					</tr>
				</table>

				<form class="myForm" novalidate ng-show="showAddForm">
					<br>
					<label>First name: <input type="text" size="15" ng-model="addFirstName" /></label><br />
					<label>Last name: <input type="text" size="15" ng-model="addLastName" /></label><br />
					<p><button class="myBtn" ng-click="add(addFirstName,addLastName)">&#10004; Add </button>
					<button ng-click="cancelAdd()">&#10006; Cancel </button></p>	
				</form>	
				
				<form novalidate class="myForm" ng-show="showEditForm">
					<br>
					<label>First name: <input type="text" size="15" ng-model="firstName" /></label><br />
					<label>Last name: <input type="text" size="15" ng-model="lastName" /></label><br />
					<p><button ng-click="update(id,firstName,lastName)">&#10004; Edit </button>
					<button ng-click="cancelEdit()">&#10006; Cancel </button></p>	
				</form>

			</div>
		</div>
