		<div class="w3-container" ng-app="formExample" ng-controller="ExampleController">
			<div class="w3-center">

				<h3>List of customers:</h3>

				<!-- The icons are from Unicode Group 'Dingbats' and you can find them in:
				https://www.quackit.com/character_sets/unicode/dingbats_unicode_character_codes.cfm -->	

				<!-- Add button -->
				<button class="myBtn w3-btn w3-ripple" ng-click="openAddForm()">	&#10010; Add a new customer</button>

				<!-- Table of customers -->
				<table class="text mytable mytable-cell w3-table-all w3-hoverable">
					<tr>
						<th width="20%">Edit</th>
						<th width="20%">Delete</th>
						<th width="25%">First name</th>
						<th width="35%">Last name</th>
					</tr>
					<tr ng-repeat="customer in recievedCustomersInfo">
						<td width="20%"><button class="w3-btn w3-ripple" ng-click="openEditForm(customer)">&#9998;</button></td>
						<td width="20%"><button class="w3-btn w3-ripple" ng-click="deleteCustomer(customer)">&#10134;</button></td>
						<td width="25%">{{ customer.firstName }}</td>
						<td width="35%">{{ customer.lastName }}</td>
					</tr>
				</table>

				<!-- Add form -->
				<form name="addForm" class="myForm w3-container w3-card-4 w3-light-grey" ng-show="showAddForm" novalidate>
					<br>

					<label>First name: <input name="addFirstNameInput" type="text" size="15" maxlength="15" ng-model="addFirstName" required/></label><br />
					<p style="color:red;" ng-show="addForm.addFirstNameInput.$invalid">First name is required.</p>
					
					<label>Last name: <input name="addLastNameInput" type="text" size="15" maxlength="30" ng-model="addLastName" required/></label><br />
					<p style="color:red;" ng-show="addForm.addLastNameInput.$invalid">Last name is required.</p>

					<p><button class="w3-btn w3-ripple" ng-disabled="addForm.addFirstNameInput.$invalid || addForm.addLastNameInput.$invalid" ng-click="add(addFirstName,addLastName)">&#10004; Add </button>

					<button class="w3-btn w3-ripple" ng-click="cancelAdd()">&#10006; Cancel </button></p>	

				</form>	

				<!-- Edit form -->
				<form name="editForm" class="myForm w3-container w3-card-4 w3-light-grey" ng-show="showEditForm" novalidate>
					<br>

					<label>First name: <input name="editFirstNameInput" type="text" size="15" maxlength="15" ng-model="firstName" required/></label><br />
					<p style="color:red;" ng-show="editForm.editFirstNameInput.$invalid">First name is required.</p>

					<label>Last name: <input name="editLastNameInput" type="text" size="15" maxlength="30" ng-model="lastName" required/></label><br />
					<p style="color:red;" ng-show="editForm.editLastNameInput.$invalid">Last name is required.</p>

					<p><button ng-disabled="editForm.editFirstNameInput.$invalid || editForm.editLastNameInput.$invalid" class="w3-btn w3-ripple" ng-click="update(id,firstName,lastName)">&#10004; Edit </button>

					<button class="w3-btn w3-ripple" ng-click="cancelEdit()">&#10006; Cancel </button></p>
	
				</form>

			</div>
		</div>
