<DOCTYPE html>

<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="control/controler.js"></script>
	</head>
	
	<body>

		<div class="w3-container" ng-app="formExample" ng-controller="ExampleController">

			<form novalidate class="simple-form">
				<label>ID: <input type="number" ng-model="customer.id" /></label><br />
				<label>First name: <input type="text" ng-model="customer.firstName" /></label><br />
				<label>Last name: <input type="text" ng-model="customer.lastName" /></label><br />
				<input type="button" ng-click="reset()" value="Reset" />
				<input type="submit" ng-click="update(customer)" value="Save" />
			</form>
			<pre>Customer = {{customer | json}}</pre>
			<pre>Edited customer = {{editedCustomer | json}}</pre>

		</div>

		<script>
			angular.module('formExample', [])
			.controller('ExampleController', ['$scope', function($scope) {
				$scope.editedCustomer = {};

				$scope.update = function(customer) {
					$scope.editedCustomer = angular.copy(customer);
				};

				$scope.reset = function() {
					$scope.customer = {};
					$scope.editedCustomer = {};
				};

			}]);
		</script>

	</body>

</html>
