		<div class="w3-container" ng-app="formExample" ng-controller="ExampleController">
			<div class="w3-center">

				<h3>List of customers:</h3>

					<!--The icons are from Unicode Group 'Dingbats' and you can find them in:
					https://www.quackit.com/character_sets/unicode/dingbats_unicode_character_codes.cfm -->	

				<button class="w3-btn w3-ripple" ng-click="openAddForm()">	&#10010; Add a new customer</button>

				<br>
				<br>

				<form novalidate class="w3-container w3-card-4 w3-light-grey" ng-show="showAddForm">
					<label>First name: <input type="text" ng-model="addFirstName" /></label><br />
					<label>Last name: <input type="text" ng-model="addLastName" /></label><br />
					<p><button class="w3-btn w3-ripple" ng-click="add(addFirstName,addLastName)">&#10004; Submit </button>
						<button class="w3-btn w3-ripple" ng-click="cancelAdd()">&#10006; Cancel </button></p>	
				</form>				

				<br>

				<table class="w3-table-all w3-hoverable">
					<tr>					
						<th>Edit</th>
						<th>Delete</th>
						<th>First Name</th>
						<th>Last Name</th>
					</tr>
					<tr ng-repeat="customer in recievedCustomersInfo">
						<td>
							<button class="w3-btn w3-ripple" ng-click="openEditForm(customer)">&#9998; Edit</button>
						</td>
						<td>
							<button class="w3-btn w3-ripple" ng-click="deleteCustomer(customer)">&#10134; Delete</button>
						</td>
						<td>
							{{ customer.firstName }}
						</td>
						<td>
							{{ customer.lastName }}
						</td>
					</tr>
				</table>

				<br>
				<br>
				
				<form novalidate class="w3-container w3-card-4 w3-light-grey" ng-show="showEditForm">
					<label>First name: <input type="text" ng-model="firstName" /></label><br />
					<label>Last name: <input type="text" ng-model="lastName" /></label><br />
					<p><button class="w3-btn w3-ripple" ng-click="update(id,firstName,lastName)">&#10004; Submit </button>
					<button class="w3-btn w3-ripple" ng-click="cancelEdit()">&#10006; Cancel </button></p>	
				</form>

			</div>
		</div>
