greenbox {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 30%;
    height: 50%;	
    border: 3px solid black;
    background: green;
}
bluebox {
    position: fixed;
    top: 10%;
    right: 10%;
    width: 30%;
    height: 30%;	
    border: 3px solid black;
    background: blue;
}
yellowbox {
    position: fixed;
    bottom: 10%;
    right: 10%;
    width: 30%;
    height: 30%;	
    border: 3px solid black;
    background: yellow;
}
