/* Full page css */

.me {
    position: absolute;
    top: 10%;
    left: 0;
    width: 306px;
    height: 540px;		
}

.text {
	position: absolute;
	top: 10%;
	left: 306px;
	width: 45%;
	height: 50%;
	overflow-y: scroll;
	padding: 5%;	
}

.boxes_frame {
    position: absolute;
    top: 30%;
    left: 90%;	
}

.box {
    position: relative;
	margin: 10px;
	height: 40px;
	width: 40px;
    border:1px solid black;
}

#full{
	display: block;
}

.contact {
    position: absolute;
    bottom: 5%;
    right: 10%;
    width: 250px;
    height: 50px;
	color: white;
	background-color: black;
	border-radius: 50%;	
	text-align: center;
}

#tablet_landscape, #tablet_portrait, #mobile_landscape, #mobile_portrait, #small_landscape, #small_portrait {
	display: none;
}

/* Tablet landscape CSS*/

@media only screen and (max-height: 768px) and (max-width: 1024px) and (orientation:landscape) {

	.me {
		position: absolute;
		top: 0;
		left: 0;
    	width: 255px;
    	height: 450px;
	}

	.text {
		position: absolute;
		top: 5%;
		left: 250px;
		width: 30%;
		height: 50%;
		overflow-y: scroll;
		padding: 5%;	
	}

	.boxes_frame {
		position: absolute;
		top: 15%;
		left: 90%;	
	}

	.box {
		position: relative;
		margin: 10px;
		height: 40px;
		width: 40px;
		border:1px solid black;
	}

	.contact {
		position: absolute;
		bottom: 10%;
		right: 10%;
		width: 250px;
		height: 50px;
		color: white;
		background-color: black;
		border-radius: 50%;	
		text-align: center;
	}

	#tablet_landscape {
		display: block;
	}

	#full, #tablet_portrait, #mobile_landscape, #mobile_portrait, #small_landscape, #small_portrait, #small_landscape {
		display: none;
	}

}

/* Mobile landscape css*/

@media only screen and (max-width: 740px) and (max-height: 480px) and (orientation:landscape) {

	.me {
		position: absolute;
		top: 7%;
		left: 0;
		width: 153px;
		height: 270px;
	}

	.text {
		display: none;
	}

	.boxes_frame {
		position: absolute;
		top: 20%;
		left: 200px;	
	}

	.box {
		position: relative;
		margin: 10px;
		height: 40px;
		width: 40px;
		border:1px solid black;
		float: left;
	}

	.contact {
		position: absolute;
		bottom: 5%;
		left: 200px;
		width: 250px;
		height: 50px;
		color: white;
		background-color: black;
		border-radius: 50%;	
		text-align: center;
	}

	#mobile_landscape {
		display: block;
	}

	#full, #tablet_landscape, #tablet_portrait, #mobile_portrait, #small_landscape, #smapll_portrait {
		display: none;
	}

}

/* Small landscape css*/

@media only screen and (max-width: 320px) and (max-height: 240px) and (orientation:landscape) {

	.me {
		display: none;
	}

	.text {
		display: none;
	}

	.boxes_frame {
		position: absolute;
		top: 10%;
		left: 10%;
		height: 100px;	
	}

	.box {
		position: relative;
		margin: 10px;
		height: 40px;
		width: 40px;
		border:1px solid black;
		float: left;
	}

	.contact {
		position: absolute;
		bottom: 5%;
		left: 10%;
		width: 80%;
		height: 20%;
		color: white;
		background-color: black;
		border-radius: 50%;	
		text-align: center;
		font-size: 50%;
	}

	#small_landscape {
		display: block;
	}

	#full, #tablet_landscape, #tablet_portrait, #mobile_landscape, #mobile_portrait, #smapll_portrait {
		display: none;
	}

}



