.myBtn {
	text-align:center;
}

.myForm {
	position: relative;
	top:-50px;
	border: 1px solid black;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
	margin: 0px 50px 0px 50px;
}

.mytable {
	position: relative;
	top:100px;
	width: 90%;
    margin-left: 5%;
	top: 50%;
	border: 1px solid black;
	border-collapse: collapse;
	background-color: white;
	table-layout: fixed;
}

.mytable-cell {
 	border: 1px solid black;
	margin-bottom: 0;
	padding-bottom: 0;
}

.mytable-cell td {
	border: 1px solid black;
	word-wrap: break-word;
	text-align: center;
}

.mytable-cell th {
	text-align: center;
}

@media screen and (max-width: 480px) {

	.text {
		font-size: 80%;
	}

}




